[DOAT]
; The command or script used to launch your DPDK app
dpdkcmd = /root/walshc/dpdk/examples/qos_sched_custom/run.sh
; The time in seconds that you want to allow for your app to stabilise 
startuptime = 10
; The time in seconds that you want the test to run for
testruntime = 30
